// Colores
$primary-color: #004eff;
$secondary-color: rgba(148, 172, 231, 0.984);
$background-color: #bec1c2;
$white: #fff;
$whatsapp-green: #25d366;
$whatsapp-green-hover: #026926;

// Fuentes
$font-family: "Titillium Web", serif;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-light: 300;

// Tamaños de fuente
$font-size-base: 1rem;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;


// Bordes
$border-radius: 0.5rem;
$border-radius-lg: 10px;

// Sombras
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.3);

// Transiciones
$transition: transform 0.3s, box-shadow 0.3s;