/* animacion para inclinar logo */

@keyframes inclineLogo {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
  
  .logo {
    animation: inclineLogo 2s alternate;
    display: inline-block; 
  }