footer {
    background: linear-gradient(90deg, $primary-color 6%, $secondary-color 92%);
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    font-size: 0.875rem;

    .footer-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }

    .social-icons {
        display: flex;
        gap: 15px;

        a {
            font-size: 22px;
            color: $white;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: $primary-color;
            }

            i {
                margin-right: 5px;
            }
        }
    }

    // Media para mobile
    @media (max-width: 768px) {
        font-size: 0.75rem;  

        .footer-content {
            justify-content: center;  
            flex-direction: column;  
        }

        .social-icons {
            gap: 10px;  
        }

        .social-icons a {
            font-size: 16px; 
        }
    }
}
